CREATE TABLE IF NOT EXISTS music_files (id INT AUTO_INCREMENT PRIMARY KEY, title VARCHAR(255) NOT NULL, artist VARCHAR(255) NOT NULL, description TEXT, filename VARCHAR(255) NOT NULL, uploaded_at DATETIME NOT NULL);
